{
  "extends": "airbnb/base",
  "rules": {
    'id-length': [2, {
      'properties': 'never',
      'exceptions': ['$', '_', 'a', 'e', 'i', 'p', 's', 'm', 't']
    }],
    'comma-dangle': 0
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
