<section class="featured">
  <h3 class="featured__title aside-title">{{ featuredPosts.sectionTitle }}</h3>
  {% if featuredPosts.sectionSubtitle|length %}
    <p class="featured__subtitle aside-blurb caption">{{ featuredPosts.sectionSubtitle }}</p>
  {% endif %}
  {% for post in featuredPosts.featuredPosts %}
    <a href="{{ post.url }}">
      <div class="featured__post">
        <div class="featured__post--image" style="background-image:url('{{ post.featuredImage.first.url }}');">
        </div>
        <div class="featured__post--title">{{ post.title }}</div>
      </div>
    </a>
  {% endfor %}
</section>
