<section class="home-intro">
  <div class="home-intro__top">
    <div class="logo-wrapper js-scrolls animate -fade-in">
      <a href="/"><img class="logotype" src="/assets/img/brand/tmp-logotype.svg" onerror="this.onerror=null; this.src='/assets/img/brand/tmp-logotype@2x.png'"></a>
    </div>
  </div>
  <div class="home-intro__tagline">
    <div class="grid">
      <h1 class="tagline-text js-avoid-orphan js-scrolls animate -fade-in">Reinventing proper for the modern homemaker.</h1>
    </div>
  </div>
</section>