<div class="social-links">
  <ul class="social-list">
    <a href="https://instagram.com/themodernproper/" class="social-item" target="_blank"><li class="instagram"></li></a>
    <a href="https://www.pinterest.com/themodernproper/" class="social-item" target="_blank"><li class="pinterest"></li></a>
    <a href="https://www.facebook.com/themodernproper" class="social-item" target="_blank"><li class="facebook"></li></a>
    <a href="https://twitter.com/themodernproper" class="social-item" target="_blank"><li class="twitter"></li></a>
    <a href="{{ siteUrl }}feed.rss" class="social-item"><li class="feed"></li></a>
  </ul>
</div>