.contact {
  @include span(4);
  @include push(3 of 24);
  padding: $large-spacing 0;

  @include breakpoint($vp4) {
    @include span(6);
    @include push(1);
  }

  @include breakpoint($vp3) {
    @include span(7 wider);
    @include push(1);
  }

  @include breakpoint($vp2) {
    @include span(10);
    text-align: center;
  }

  input[type="text"],
  textarea {
    background-color: darken($tmp-light, 5%);
    width: 100%;
    margin-bottom: $small-spacing;
    padding: $small-spacing;
    transition: background-color $med-ease;
    color: darken($tmp-gray, 10%);
    border-bottom: 2px solid darken($tmp-light, 5%);

    @include breakpoint($vp2) {
      font-size: rem(18);
      line-height: rem(24);
    }

    &:focus {
      background-color: $white;
      color: darken($tmp-gray, 10%);
      border-bottom: 2px solid rgba($tmp-gray, 0.5);
    }
  }

  &__blurb {
    margin-bottom: $large-spacing;

    @include breakpoint($vp2) {
      margin-bottom: $base-spacing;
    }
  }

  .errors {
    font-style: italic;
    font-size: rem(14);
    color: $tmp-brand;
    margin-bottom: $small-spacing / 2;
  }

  #recipes {
    display: none;
  }
}