.modal {
  z-index: $z-modal;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($light-gray, 0.85);
  opacity: 0;
  transition: opacity $med-ease;
  pointer-events: none;

  &.-active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;

    .modal__content {
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    width: 90%;
    max-width: 800px;
    min-height: em(400);
    background-color: $white;
    padding: $base-spacing;
    transition: transform $med-ease;
  }
}
