.paginate {

  @include breakpoint($vp3) {
    padding: 0 span(1);
  }

  &__link {
    font-size: 120%;
    font-style: italic;
    margin: $base-spacing 0;

    @include breakpoint($vp1) {
      font-size: 100%;
    }

    &.prev {
      @include span(6);

      .paginate__link--text {
        &:before {
          content: "<<";
          margin-right: $small-spacing;
        }
      }
    }

    &.next {
      @include span(last 6);
      text-align: right;

      .paginate__link--text {
        &:after {
          content: ">>";
          margin-left: $small-spacing;
        }
      }
    }
  }
}
